p{
   margin-right: 100px;
   border: 2px solid rgb(17, 255, 116);
   padding: 40px;
   width: 500px;
   height: 400px;
   box-shadow: 3px 4px rgb(244, 248, 18) (226, 230, 226);
   text-shadow: 2px 2px rgb(0, 247, 255);
   
}